* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.container {
  width: 900px;
  margin: 50px auto;
}

.heading {
  margin-bottom: 50px;
}

.heading h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  /* justify-content: center; */
  /* align-content: center; */
}

.left_box-shadow {
  width: 40%;
  background-color: #fff;
  box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.35);
  margin-right: 50px;
  padding: 40px;
}

.left_box-shadow p {
  line-height: 30px;
}

.left_box-shadow>p>b:nth-child(1) {
  font-size: 18px;
}

.left_box-shadow>p:nth-child(1),
.left_box-shadow>p:nth-child(2) {
  margin-bottom: 10px;
}

.left_box-shadow>p:nth-child(2) {
  color: gray;
}

.left_box-shadow>p:nth-child(4) {
  color: blue;
  font-size: 15px;
}

.right_content {
  width: 60%;
  line-height: 23px;
  font-size: 15px;
  letter-spacing: 1px;
}
.right_content > p:nth-child(2){
  margin: 20px 0;
}